header {
    margin:30px;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, green 0%, yellow 80%);
    height: 50px;
}

#info-contact {
    border-radius: 10px;
}

#contact1 img {
    align-items: center;
    width: 100px;
    height: 100px;
}
